.container {
  padding: 5em;

}

.layout {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.column {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
}

.columnImage {
  display: flex;
  flex-direction: column;
  flex-basis: 40%;
}

.imageContainer {
    width: 100%;
    position: relative;
  }
  
  .imageContainer > span {
    position: unset !important;
  }
  
  .image {
    object-fit: contain;
    width: 100% !important;
    position: relative !important;
    height: unset !important;
  }

  .titulo {
    font-size: 1.5rem;
    font-weight: bold;
    color: #000;
    margin-bottom: 1rem;
  }

  .description {
    font-size: .9rem;
    /* interlineado */
    line-height: 1.5em;
    font-weight: bold;
    color: #000;
    margin-bottom: 1rem;
    padding: 1rem 0rem ;
    border-bottom:3px solid #000;
    width: 80px;
  }

  .paragraph {
    font-size: 1em;
    line-height: 1.5rem;
    font-weight: lighter;
    color: #000;
    padding-bottom:  2rem;
  }

  /* responsive */
  @media screen and (max-width: 768px) {
    .container {
      padding: 2em;
    }
    .layout {
      flex-direction: column;
    }
    .column {
      flex-basis: 100%;
      flex: 1;
    }
    .columnImage {
      flex-basis: 100%;
    }
    .titulo {
      font-size: 1.2rem;
      padding-top: 2rem;
      margin-bottom: 0rem;
    }
  }

